@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  /* Font */
  --font-main: "Rubik", sans-serif;

  /* Brand Colors */
  --purple-600: hsl(246, 80%, 60%);
  --orange-300: hsl(15, 100%, 70%); /* work */
  --blue-300: hsl(195, 74%, 62%); /* play */
  --pink-400: hsl(348, 100%, 68%); /* study */
  --green-400: hsl(145, 58%, 55%); /* exercise */
  --purple-700: hsl(264, 64%, 52%); /* social */
  --yellow-300: hsl(43, 84%, 65%); /* self care */

  /* Neutral Colors */
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-main), sans-serif;
  background-color: var(--navy-950);
}

/* CARDS */

.cards-deck {
  display: grid;
  place-items: center;
  min-height: 100vh;
  gap: 2rem;

  padding: 2rem;
  background-color: var(--navy-950);
}

/* CONTENT CARD */
.card-box {
  width: 100%;
  max-width: 20rem;
  min-height: 6.5rem;

  background-color: var(--navy-900);
  color: #fff;

  border-radius: 1rem;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-inner {
  width: 100%;
  height: auto;
  background-color: var(--navy-900);
  color: #fff;
  border-radius: 1rem;

  padding: 1rem;
  flex-grow: 1;
}

.card-theme,
.card-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-theme-image {
  width: 1.5rem;
  height: auto;
  object-fit: contain;
}

.card-time {
  font-weight: 300;
  padding-top: 0.5rem;
}

.card-time p {
  font-size: 2rem;
}

.card-time span {
  font-size: 1rem;
  color: var(--navy-200);
}

/* PROFILE CARD */

.card-box-profile {
  width: 100%;
  max-width: 20rem;
  min-height: 6.5rem;

  background-color: var(--navy-900);
  color: #fff;

  border-radius: 1rem;
  overflow: hidden;
}

.card-profile {
  background-color: var(--purple-600);
  color: #fff;

  width: 100%;
  height: auto;
  padding: 1.5rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
}

.card-profile-avatar {
  width: 80px;
  height: 80px;

  border-radius: 50%;
  border: 3px solid white;
  padding: 2px;

  background-clip: content-box;
}

.card-profile-info {
  padding: 1rem;
  font-weight: 300;
}

.card-profile-info span {
  color: var(--navy-200);
}

.card-profile-info p {
  font-size: 1.35rem;
}

.card-profile-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 0 1.5rem 0;
}

.card-profile-buttons button {
  background: transparent;
  border: none;

  font-size: 1rem;

  color: var(--purple-500);
}

.card-profile-buttons button:hover {
  color: #fff;
  cursor: pointer;
}

/* .a {
} */
.b {
  background-color: var(--orange-300);
}
.c {
  background-color: var(--blue-300);
}
.d {
  background-color: var(--pink-400);
}
.e {
  background-color: var(--green-400);
}
.f {
  background-color: var(--purple-700);
}
.g {
  background-color: var(--yellow-300);
}

/* @media (min-width: 700px) {
  .card-box {
    grid-template-columns: repeat(4, 150px);
    grid-gap: 1rem; 
}

  /* .a {
    grid-area: 1 / 1 / 3 / 2;
  }
  .b {
    grid-area: 1 / 2 / 2 / 3;
  }
  .c {
    grid-area: 1 / 3 / 2 / 4;
  }
  .d {
    grid-area: 1 / 4 / 2 / 5;
  }
  .e {
    grid-area: 2 / 2 / 3 / 3;
  }
  .f {
    grid-area: 2 / 3 / 3 / 4;
  }
  .g {
    grid-area: 2 / 4 / 3 / 5;
} }*/
